<?xml version = "1.0" encoding = "utf-8" ?>

<Project>
	
  <PropertyGroup>
	<PublishDir         >DEV\Publish</PublishDir>	
    <Configuration      >Release</Configuration>
    <_TargetId          >Folder</_TargetId>
    <PublishProtocol    >FileSystem</PublishProtocol>
	<DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>

	<Target Name = "DeletePdbFiles" AfterTargets = "Publish" >
		<ItemGroup>
			<PdbFiles Include = "$(PublishDir)**\*.pdb" />
		</ItemGroup>
		<Delete Files = "@(PdbFiles)" ContinueOnError="true" />
	</Target>

</Project>